{% extends 'basic.html' %}

{% block title %} Details {% endblock %}

{% block body %}




<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Details</h5>
            
            {% load humanize %}
            {% load tag %}
            <div >
                <img style="width: 200px; height: auto; border-radius: 50%; " src="{{object.image.url}}" />
            </div> <br>
            {% if request.user == object.user %}
            <a href="/post/edit/{{object.id}}"> Edit</a> <br>
            <a href="/post/picadd/{{object.id}}">Add Picture</a> <br>
            <a href="/post/delete/{{object.id}}">Delete</a>
            {% endif %} <br>
            Create by : {{object.user.username}} <br>
            Create Time : {{object.create_at | naturaltime }}
        
            <br>
            Title={{object.title_proper}} <br>
            salary={{object.salary}} <br>
            details={{object.details}} <br>
            district = {{object.district}} <br>
            catagory={{object.catagory}} <br>
            middle={{object.middle}} <br>
            Subject={{object.get_teacher_list}} <br>
            Class_in={{object.get_student_list}} <br>
            {{object.total_view}} peoples seen this post <br>
            {{object.tatal_like}} people likes this post <br>
            <div>
                <form  method="POST" action="/post/likepost/{{object.id}}">
                    {% csrf_token %}
                    {% if liked %}
                        <button style="background-color:yellow;" type="submit">UnLike</button>
                    {% else %}
                    <button style="background-color:aqua;" type="submit" >Like</button>
        
                    {% endif %}
                </form>
            </div>
            <div>
                <form method="POST" action="/post/comment/">
                    {% csrf_token %}
                    <label for="comment">Your Comment: </label>
                    <input type="text" id="comment" name="comment" placeholder="Enter your comment">
                    <input type="hidden" name="postid" value="{{object.id}}">
                    <input type="hidden" name="parentid" value=""> <br>
                    <button type="submit" >Add Comment</button>
                </form>
            </div>
            <div>
                {% for comment in comments  %}
                    <div>
                        <div>
                            <img src="{{comment.user.userprofile_model.image.url}}"  style="width:40px;">
                        </div>
                        <div>
                            <b>{{comment.user.username}} </b> <span>{{comment.create_at | naturaltime}} </span> <br>
                            <div>{{comment.text}}</div>
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete Comment
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure delete to the comment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><a style="color:wheat; text-decoration:none;" href="/post/deletecomment/{{comment.id}}">Delete</a></button>
        </div>
      </div>
    </div>
  </div>                            
                                
                            
                            <div>
                                
                                <div>
                                    {% for replay in dictofreplay|get_replay:comment.id %}
                    
                                    <div>
                                        <img src="{{replay.user.userprofile_model.image.url}}"  style="width:40px;">
                                    </div>
                                    <div>
                                        <b>{{replay.user.username}} </b> <span>{{replay.create_at | naturaltime}} </span> <br>
                                    <div>{{replay.text}}</div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{replay.id}}">
                                        Delete Reply
                                      </button>
                                      
                                      <!-- Modal -->
                                      <div class="modal fade" id="exampleModal{{replay.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Reply</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p>Are you sure delete to the reply?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary"><a style="color:wheat; text-decoration:none;" href="/post/deletecomment/{{replay.id}}">Delete</a></button>
                                            </div>
                                          </div>
                                        </div>
                                      </div> 
                                    </div>
                                    {% endfor %}
           
                                </div>
                                <div>
                                    <form method="POST" action="/post/comment/">
                                        {% csrf_token %}
                                        <label for="comment">Your Replay: </label>
                                        <input type="text" id="comment" name="comment" placeholder="Enter your Replay">
                                        <input type="hidden" name="postid" value="{{object.id}}">
                                        <input type="hidden" name="parentid" value="{{comment.id}}"> <br>
                                        <button type="submit" >Add Replay</button>
                                    </form>
                                </div>
                           
                            </div> 
        
                        </div>  
                    </div>     
                {% endfor %}                   
            </div>
        
            




          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
<br><br><br>
{% endblock body %}